<div class="alert alert-danger">
    <div class="font-weight-bold">API Key Required</div>
    <div class="mb-3">An API Key is required to view this page.</div>
    <NavLink class="btn btn-danger" href="settings">
        <i class="fas fa-cog"></i> Settings
    </NavLink>
</div>