@inherits LayoutComponentBase
@inject BlazorStrap.IBootstrapCss BootstrapCss

<header>
    <NavMenu />
</header>

<div class="main p-4">
    @Body
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await this.BootstrapCss.SetBootstrapCss(BlazorStrap.Theme.Darkly, "4.5.0");
    }
}