@inherits LayoutComponentBase
@inject BlazorStrap.IBootstrapCss BootstrapCss

<header>
    <NavMenu />
</header>

<div class="main">
    <div class="content p-4">
        @Body
    </div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await this.BootstrapCss.SetBootstrapCss(BlazorStrap.Theme.Slate, "4.3.1");
    }
}