@page "/settings"

<h1>Settings</h1>

@if (loading)
{
    <LoadingIndicator />
}
else
{
    <div class="alert alert-info">
        All settings are stored locally in your browser.
    </div>

    <div class="card mb-3">
        <div class="card-header">
            API Key
        </div>
        <div class="card-body">
            <EditForm Model="formModel" OnValidSubmit="HandleValidSaveSubmit">
                <DataAnnotationsValidator />
                <div class="form-group">
                    <label for="apiKey" class="sr-only">API Key</label>
                    <InputText id="apiKey" @bind-Value="formModel.ApiKey" class="form-control mr-sm-2" placeholder="Guild Wars 2 API key" />
                    <ValidationMessage For="() => formModel.ApiKey" class="invalid-feedback" />
                </div>

                <button type="submit" class="btn btn-primary mr-sm-2">
                    <i class="fas fa-save"></i> Save
                </button>
            </EditForm>

            @if (token != null)
            {
                <div class="mt-3">
                    <strong>Key Name:</strong> @token.Name<br />
                    <strong>Permissions:</strong><br />
                    @foreach (var permission in token.Permissions)
                    {
                        <span class="badge badge-primary">@permission</span>
                    }
                </div>
            }
        </div>
    </div>

    @if (token != null)
    {
        <SettingsGuildSelector />
    }
}
