@page "/settings"

<h1>Settings</h1>

@if (loading)
{
    <LoadingIndicator />
}
else
{
    <div class="alert alert-info">
        All settings are stored locally in your browser.
    </div>

    <EditForm Model="formModel" OnValidSubmit="HandleValidSaveSubmit">
        <DataAnnotationsValidator />
        <div class="form-group">
            <label for="apiKey">API Key</label>
            <InputText id="apiKey" @bind-Value="formModel.ApiKey" class="form-control mr-sm-2" placeholder="Guild Wars 2 API key" />
            
            <ValidationMessage For="() => formModel.ApiKey" />
        </div>

        <div class="form-group">
            <label for="guildId">Guild</label>
            <InputSelect id="guildId" @bind-Value="formModel.GuildId" class="form-control mr-sm-2">
                <option value="">- Select a Guild -</option>
                @foreach (var guild in guilds)
                    {
                    <option value="@guild.Value">@guild.Text</option>
                    }
            </InputSelect>
        </div>

        <button type="submit" class="btn btn-primary mr-sm-2">
            <span class="oi oi-magnifying-glass"></span> Save
        </button>
    </EditForm>
}
